@model List<Products>

@{
    ViewData["Title"] = "Página Inicial";
}

<style>
    .custom-card {
        height: 200px; /* Defina a altura desejada para os cards */
    }

    .card-img-top {
        height: 200px; /* Defina a altura desejada para as imagens */
        object-fit: cover; /* Garante que a imagem cubra todo o espaço da caixa de imagem */
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".add-to-cart-btn").click(function () {
            var productId = $(this).data("product-id");
            addToCart(productId);
        });
        
        function addToCart(productId) {
            $.ajax({
                url: "/CartItems/AddToCart",
                type: "post",
                data: { productId : productId, quantity: 1 },
                success: function () {
                    alert("Produto adicionado ao carrinho!");
                },
                error: function () {
                    alert("Ocorreu um erro ao adicionar o produto ao carrinho.");
                }
            });
        }
    });
</script>


<div class="container mt-4">
    <div class="row">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm ">
                        <img src="@Url.Content(product.ImagePath)" class="card-img-top" alt="@product.Name">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="@Url.Action("Details", "Products", new { id = product.Id })" class="btn btn-sm btn-outline-secondary">Details</a>
                                    <a class="btn btn-sm btn-outline-secondary add-to-cart-btn" data-product-id="@product.Id">Buy</a>
                                </div>
                                <small class="text-muted">Preço: R$ @product.Price</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
